<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
    <link href="static/style.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h1>SpaceTime</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Wydarzenia</a></li>
                <li><a href="/services">Pełnie</a></li>
                <li><a href="/contact">Moje wydarzenia</a></li>
            </ul>
        </nav>
    <div>
</body>
</html>
